.minimal-counter {
  font-size: 0;
  height: 55px;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica;
}

.minimal-counter .digit {
  display: inline-block;
  font-size: 56px;
  text-align: center;
}
.minimal-counter .sequence {
  width: 0.55em;
  line-height: 1;
  -webkit-transform: translate3d(0, -90%, 0);
  -moz-transform: translate3d(0, -90%, 0);
  -ms-transform: translate3d(0, -90%, 0);
  transform: translate3d(0, -90%, 0);

  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000), width 400ms ease-in-out, opacity 400ms ease-in-out;
  -moz-transition: -moz-transform 400ms  cubic-bezier(0.860, 0.000, 0.070, 1.000), width 400ms ease-in-out, opacity 400ms ease-in-out;
  transition: transform 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000), width 400ms ease-in-out, opacity 400ms ease-in-out;
}

.minimal-counter .digit:last-child .sequence {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
}
.minimal-counter .sequence.is-hidden {
  width: 1px;
  margin-left: -1px;
  opacity: 0;
}
